* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  body {
    color:white;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-size: 1560px 800px;
    background-position: center;
    transition: 1s;
    transition-delay: 0.5s;
    text-shadow: 2px 2px 2px #000;
  }

  .town{
    text-align: center;  
  }

  .weather{
    width:200px;
    color:white;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
  }

  .quotebutton{
    margin: 2rem;
    display: inline;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(white, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .6s;
  
  }

  .quotebutton:hover{
    background-size: 100% 2px; 
    cursor: pointer;
  }

  .quote{
    color:white;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    padding:5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
  }

  
  .backbutton{
    margin: 2rem;
    display: inline;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(white, white);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .6s;
  }

  .backbutton:hover{
    background-size: 100% 2px; 
    cursor: pointer;
  }


  .time {
    font-family: "DSEG7 Classic";
    font-size: 8rem;
  }

  .date{
    font-size: 8rem;
  }
  
  h1 {
    margin-bottom: 3rem;
  }
  
  h2 {
    margin-top: 0.5rem;
  }

  h3 {
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
  }

  #g{
    display:none;
  }

  @media screen and (max-width: 1404px) {
    .date {
      font-size: 6rem;
    }
}

    @media screen and (max-width: 1052px) {
        .date {
          font-size: 5rem;
        }
    }

  @media screen and (max-width: 882px) {
    .date {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 704px) {
    .time{
        font-size: 6em;
    }
    .date {
      font-size: 3rem;
    }
    .backbutton{
        margin:1rem;
    }
    .quotebutton{
        margin:1rem;
    }
}
    @media screen and (max-width: 536px) {
      .time{
        font-size: 5em;
      }
        .date {
            font-size: 2rem;
          }
          h1{
              font-size: 1.5rem;
          }
        .backbutton{
          padding: 0;
          margin: 5px;
          font-size: 1.1rem;
          background-size: 0% 2px;
          transition: background-size .4s;
        }
        .backbutton:hover{
          background-size: 0% 2px;
        }
        .backbutton:active{
          background-size: 100% 2px; 
        }
        .quotebutton{
          padding: 0;
          margin: 5px;
          font-size: 1.1rem;
          background-size: 0% 2px;
          transition: background-size .4s;
        }
        .quotebutton:hover{
          background-size: 0% 2px;
        }
        .quotebutton:active{
          background-size: 100% 2px; 
        }
        h3 {
          position: fixed;
          bottom: 0;
          margin-bottom: 100px;
        }
      
    }
  
