* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ::placeholder {
    color: white;
    opacity: 1; 
  }
  
  body {
    color:white;
    display: flex;
    flex-direction: column;
    font-family: "Gill Sans", sans-serif;
    align-items: left;
    justify-content: left;
    text-align: left;
    height: 100vh;
    background-size: 1560px 800px;
    background-position: center;
    transition: 1s;
    transition-delay: 0.5s;
    text-shadow: 4px 4px 4px #000;
  }

  .town{
    text-align: center;  
  }

  .city{
    margin-left: 80px;
    margin-top: 50px;
    font-size:50px;
    transition: .6s;
  }

  .weather{
    display: flex;
  }

  .temp{
    font-size: 250px;
    margin-left: 60px;
    transition: .6s;
  }

  .weather-icon{
    font-size: 200px;
    margin-top: -35px;
    margin-left: -20px;
    transition: .6s;
  }

  .weather-adds{
    font-size: 22px;
    margin-top: 140px;
    margin-left: -100px;
    transition: .6s;
  }

  .following{
    display:flex;
    margin-left: 25px;
    transition: .6s;
  }

  .foll{
    display:inline;
    margin-left: 40px;
  }

  .follow{
    display:inline;
    margin-top: -40px;
    font-size: 100px;
    transition: .6s;
  }

  .follow-icon{
    margin-left: -10px;
    display:inline;
    font-size: 100px;
    transition: .6s;
  }

  .followdate{
    font-size: 20px;
    transition: .6s;
  }

  .head{
    margin-left: 80px;
    margin-top: 30px;
    transition: .6s;
  }
  
  .backbutton{
    align-items: left;
    text-align: left;
    background: url('/img/back.png');
    height: 50px;
    width: 50px;
    float:left;
    background-size: 50px 50px;
    border: 0;
    transition: background-size .3s;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
  }

  .backbutton:hover{
    background-size: 49px 49px;
    cursor: pointer;
  }

  .langbutton{
    margin-left: 20px;
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    background: url('/img/lang.png');
    height: 50px;
    width: 55px;
    float:left;
    background-size: 55px 50px;
    border: 0;
    transition: background-size .3s;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 2px #000;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    transition: .6s;
  }

  .langbutton:hover{
    background-size: 52px 47px;
    cursor: pointer;
    
  }

  .enbutton{
    position: absolute;
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    background: none;
    height: 40px;
    width: 55px;
    margin-left: 70px;
    margin-top: 50px;
    border: 0;
    transition: .3s;
    font-size: 20px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    text-shadow: 2px 2px 2px #000;
    display: none;
  }

  .rubutton{
    position: absolute;
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    background: none;
    height: 40px;
    width: 55px;
    margin-left: 70px;
    margin-top: 90px;
    border: 0;
    transition: .3s;
    font-size: 20px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    text-shadow: 2px 2px 2px #000;
    display: none;
  }

    .enbutton:hover {
        background: black;
        cursor: pointer;
    }
    

    .rubutton:hover {
        background:black;
        cursor: pointer;
    }

  .time {
    margin-left: 20px;
    font-family: "DSEG7 Classic";
    font-size: 1.5rem;
  }

  .datetime{
    display: inline;
  }

  .cbutton{
    margin-left: 20px;
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    height: 50px;
    width: 55px;
    float:left;
    border: 0;
    transition: background-size .3s;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 2px #000;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
  }

  .fbutton{
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    height: 50px;
    width: 55px;
    float:left;
    border: 0;
    transition: background-size .3s;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 2px #000;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
  }

  .kfbutton{
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    height: 50px;
    width: 55px;
    float:left;
    border: 0;
    transition: background-size .3s;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 2px #000;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
  }

  .cbutton:hover{
    cursor: pointer;
  }

  .fbutton:hover{
    cursor: pointer;
  }

  .kfbutton:hover{
    cursor: pointer;
  }

  #map { 
    top: 170px;
    right: 30px;
    position: absolute;
    height: 345px;
    width: 510px;
    border-radius: 10px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    transition: .6s;
  }


  .ltlg{
    font-size: 20px;
    text-align: right;
    top: 570px;
    right: 30px;
    position: absolute;
    transition: .6s;
  }

  .search{
    align-items: left;
    text-align: left;
    height: 50px;
    width: 285px;
    position: absolute;
    top: 30px;
    right: 130px;
    float:left;
    background-size: 55px 50px;
    border: 0;
    transition: background-size .3s;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 2px #000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    transition: .6s;
  }

  .searchbutton{
    position: absolute;
    top: 30px;
    right: 30px;
    align-items: left;
    text-align: left;
    background: url('/img/search.png');
    height: 50px;
    width: 50px;
    float:left;
    background-size: 50px 50px;
    border: 0;
    transition: background-size .3s;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(0,0,0,0.5);
    transition: .6s;
  }

  .searchbutton:hover{
    background-size: 49px 49px;
    cursor: pointer;
  }

  .voicebutton{
    position: absolute;
    top: 30px;
    right: 80px;
    align-items: left;
    text-align: left;
    background: url('/img/voice.png');
    height: 50px;
    width: 50px;
    float:left;
    background-size: 50px 50px;
    border: 0;
    transition: background-size .3s;
    background-color: rgba(0,0,0,0.5);
    background-position: center;
    animation-duration: 2s;
		animation-iteration-count:infinite;
    transition: .6s;
  }

  .voicebutton:hover{
    background-size: 49px 49px;
    cursor: pointer;
  }


  	@keyframes slidein 
	  {
		from 
		{
      background-size: 50px 50px;
		}
   		25%
		{
			background-size: 44px 44px;
   		}
   		50%, 75%
		{
      background-size: 50px 50px;
   		}
   		to
		{
      background-size: 50px 50px;
   		}
  	}

  .date{
    font-size: 1.5rem;
    margin-left: 80px;
    display: inline;
    transition: .6s;
  }


  @media screen and (max-width: 1500px) {
    body {
      background-size:cover;
    }
    .search{
      width: 225px;
      font-size: 15px;
    }

    #map { 
      width: 440px;
    }
}

    @media screen and (max-width: 1400px) {
      .temp{
        margin-top: 50px;
        font-size: 200px;
      }
    
      .weather-icon{
        margin-top: 20px;
        font-size: 150px;
      }
    
      .weather-adds{
        font-size: 20px;
      }

      .follow{
        font-size: 70px;
      }
    
      .follow-icon{
        font-size: 70px;
      }
    }

  @media screen and (max-width: 1200px) {
    .temp{
      margin-top: 50px;
      font-size: 150px;
    }
  
    .weather-icon{
      margin-top: 30px;
      font-size: 100px;
    }
  
    .weather-adds{
      font-size: 15px;
    }

    .follow{
      font-size: 50px;
    }
  
    .follow-icon{
      font-size: 50px;
    }
  }

  @media screen and (max-width: 1000px) {
    .temp{
      margin-top: 50px;
      font-size: 100px;
    }
  
    .weather-icon{
      margin-top: 30px;
      font-size: 70px;
    }
  
    .weather-adds{
      margin-top:80px;
      margin-left: 10px;
      font-size: 15px;
    }

    .follow{
      font-size: 30px;
    }
  
    .follow-icon{
      font-size: 30px;
    }
}
    @media screen and (max-width: 960px) {
      .weather-adds{
        margin-left: -250px;
        margin-top:150px;
        margin-bottom: 20px;
      }

      .city{
        margin-left: 70px;
        margin-top: 50px;
        font-size:30px;
      }

      .head{
        margin-left: 70px;
        margin-top: 30px;
      }
      
      .date{
        font-size: 1.2rem;
        margin-left: 70px;
        display: inline;
      }

      .following{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 25px;
      }
    }

    @media screen and (max-width: 750px) {

      .head{
        margin-left:20px;
      }

      .following{
        display:flex;
        flex-direction: row;
        margin-left: 0px;
      }

      .cbutton{
        margin-left: 10px;
      }

      .search{
        font-size: 14px;
        align-items: left;
        text-align: left;
        top: 90px;
        left: 20px;
        width: 190px;
      }
    
      .searchbutton{
        position: absolute;
        top: 90px;
        left: 260px;
      }
    
      .voicebutton{
        position: absolute;
        top: 90px;
        left: 210px;
      }

      .langbutton{
        margin-left: 10px;
      }
  
      .city{
        margin-left: 20px;
        margin-top: 80px;
        font-size: 25px;
      }

      .date{
        margin-left: 20px;
      }

      .temp{
        margin-left: 20px;
      }

      #map {
        position: absolute;
        top:600px;
        height: 205px;
        width: 300px;
        right: 10px;
      }

      .foll{
        display:inline;
        margin-left: 20px;
      }

      .ltlg{
        font-size: 18px;
        top: 820px;
        right: 10px;
      }

    }
  
