* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ::placeholder {
    color: white;
    opacity: 1; 
  }
  
  body {
    color:white;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    align-items: left;
    justify-content: left;
    text-align: left;
    height: 100vh;
    background-size: 1560px 800px;
    background-position: center;
    transition: 1s;
    transition-delay: 0.5s;
    text-shadow: 2px 2px 2px #000;
  }

  .town{
    text-align: center;  
  }

  .city{
    margin-left: 80px;
    margin-top: 50px;
    font-size:50px;
  }

  .weather{
    width:200px;
    color:white;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
  }


  .head{
    margin-left: 80px;
    margin-top: 30px;
  }
  
  .backbutton{
    align-items: left;
    text-align: left;
    background: url('/img/back.png');
    height: 50px;
    width: 50px;
    float:left;
    background-size: 50px 50px;
    border: 0;
    transition: background-size .3s;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
  }

  .backbutton:hover{
    background-size: 49px 49px;
    cursor: pointer;
  }

  .langbutton{
    margin-left: 20px;
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    background: url('/img/lang.png');
    height: 50px;
    width: 55px;
    float:left;
    background-size: 55px 50px;
    border: 0;
    transition: background-size .3s;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 2px #000;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
  }

  .langbutton:hover{
    background-size: 52px 47px;
    cursor: pointer;
    
  }

  .enbutton{
    position: absolute;
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    background: none;
    height: 40px;
    width: 55px;
    margin-left: 70px;
    margin-top: 50px;
    border: 0;
    transition: .3s;
    font-size: 20px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    text-shadow: 2px 2px 2px #000;
    display: none;
  }

  .rubutton{
    position: absolute;
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    background: none;
    height: 40px;
    width: 55px;
    margin-left: 70px;
    margin-top: 90px;
    border: 0;
    transition: .3s;
    font-size: 20px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    text-shadow: 2px 2px 2px #000;
    display: none;
  }

    .enbutton:hover {
        background: black;
        cursor: pointer;
    }
    

    .rubutton:hover {
        background:black;
        cursor: pointer;
    }

  .time {
    font-family: "DSEG7 Classic";
    font-size: 1.5rem;
  }

  .datetime{
    display: inline;
  }

  .cbutton{
    margin-left: 20px;
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    height: 50px;
    width: 55px;
    float:left;
    border: 0;
    transition: background-size .3s;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 2px #000;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
  }

  .fbutton{
    padding-bottom: 20px;
    align-items: left;
    text-align: left;
    height: 50px;
    width: 55px;
    float:left;
    border: 0;
    transition: background-size .3s;
    font-size: 20px;
    color:white;
    text-shadow: 2px 2px 2px #000;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
  }

  .cbutton:hover{
    cursor: pointer;
  }

  .fbutton:hover{
    cursor: pointer;
  }

  .search{
    align-items: left;
    text-align: left;
    height: 50px;
    width: 295px;
    position: absolute;
    top: 30px;
    right: 80px;
    float:left;
    background-size: 55px 50px;
    border: 0;
    transition: background-size .3s;
    font-size: 35px;
    color:white;
    text-shadow: 2px 2px 2px #000;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    transition: .3s;
  }

  .searchbutton{
    position: absolute;
    top: 30px;
    right: 30px;
    align-items: left;
    text-align: left;
    background: url('/img/search.png');
    height: 50px;
    width: 50px;
    float:left;
    background-size: 50px 50px;
    border: 0;
    transition: background-size .3s;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(0,0,0,0.5);
  }

  .searchbutton:hover{
    background-size: 49px 49px;
    cursor: pointer;
  }

  .date{
    font-size: 1.5rem;
    margin-left: 80px;
    display: inline;
  }
  
  h1 {
    margin-bottom: 3rem;
  }
  
  h2 {
    margin-top: 0.5rem;
  }

  h3 {
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
  }

  #g{
    display:none;
  }

  @media screen and (max-width: 1404px) {
    .date {
      font-size: 6rem;
    }
}

    @media screen and (max-width: 1052px) {
        .date {
          font-size: 5rem;
        }
    }

  @media screen and (max-width: 882px) {
    .date {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 704px) {
    .time{
        font-size: 6em;
    }
    .date {
      font-size: 3rem;
    }
    .backbutton{
        margin:1rem;
    }
    .quotebutton{
        margin:1rem;
    }
}
    @media screen and (max-width: 536px) {
      .time{
        font-size: 5em;
      }
        .date {
            font-size: 2rem;
          }
          h1{
              font-size: 1.5rem;
          }
        .backbutton{
          padding: 0;
          margin: 5px;
          font-size: 1.1rem;
          background-size: 0% 2px;
          transition: background-size .4s;
        }
        .backbutton:hover{
          background-size: 0% 2px;
        }
        .backbutton:active{
          background-size: 100% 2px; 
        }
        h3 {
          position: fixed;
          bottom: 0;
          margin-bottom: 100px;
        }
      
    }
  
